body {
  background-color: black;
  background-image: url(https://www.ubackground.com/_ph/22/179415312.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background: red ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
  
}

h1 {
  color: black;
  font-size: 70px;
  margin: 50px;
  text-align: center;
}

.trivia_wrapper {
  background-image: url(https://res.cloudinary.com/jerrick/image/upload/fl_progressive,q_auto,w_1024/zbxhcd6nfdf0ymr8wzbi.jpg);
  background-color: blue;
  border-radius: 8px;
  height: 450px;
  margin: 30px auto;
  padding: 25px;
  width: 700px;
}

.trivia_wrapper .question {
  background-color: white;
  border-radius: 8px;
  color: black;
  font-size: 20px;
  min-height: 75px;
  opacity: 0.8;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.trivia_wrapper .options {
  width: 100%;
  opacity: 0.7;
}

.trivia_wrapper .options ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  width: 100%;
}

.trivia_wrapper .options ul li {
  border-radius: 8px;
  box-shadow: 0px 3px 0px grey;
  display: inline-block;
  margin-top: 30px;
  opacity: 1.0;
  padding: 15px;
  text-align: center;
  width: 49%;
  cursor: pointer;
}

#next {
  background-color: red;
  border-radius: 8px;
  color: white;
  padding: 5px 20px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.trivia_wrapper .score {
  float: left;
  padding: 10px 0px;
  width: 100%;
}

.trivia_wrapper .score .score-card {
  width: 60%;
  float: left;
}

.trivia_wrapper .score .score-card {
  color: white;
  font-size: 20px;
  line-height: 50px;
}

.trivia_wrapper .score .score-card span {
  background-color: rgba(255, 0, 0, 0.952);
  border-radius: 8px;
  color: white;
  padding: 5px 20px;
}

footer {
    background-color: red;
    font-size: 20px;
    text-align: center;
    margin-top: 125px;
}